<div class="home-page-container">
    <div class="home-page-box">
      <h1 class="text-2xl font-bold mb-6 text-center">Welcome to the homepage!</h1>
  
      <div class="text-center">
        <p>Welcome to the TaskTracker application. Here you can keep track of all of your tasks by creating and updating records.</p>
        <p>Here is the GitHub link for more information: <a href="https://github.com/neil-mishh/TaskTracker">https://github.com/neil-mishh/TaskTracker</a></p> 
      </div>

    </div>
  </div>
  