.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 0;
    background-color: #f4f4f4;
    min-height: 100%;
  }

  .home-page-box {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
  }